body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(244, 197, 135);
}

header {
    text-align: center;
    font-family: 'sofia', sans-serif;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    font-family: 'Trirong', serif;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    border-radius: 15px;
}

.row {
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Trirong', serif;
    border-top: 1px dashed #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.past {
    background-color: #b887fb;
    color: white;
}

.present {
    background-color: #7ce1ff;
    color: white;
}

.future {
    background-color: #a7f8a7;
    color: white;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}